#Django

Django==2.2.10
django-appconf==1.0.3
django-cors-headers==3.0.2
django-cors-middleware==1.3.1
django-cryptography==0.3
django.rest_auth==0.9.5
djangorestframework==3.9.4
django.allauth


#Python
cffi==1.12.3
coverage==4.5.3
cryptography==2.7
httplib2==0.12.3


